
<div id="toast" aria-live="polite" aria-atomic="true" style="position: absolute; min-height: 225px; z-index: 10; top: 10px; right: 10px">
    <div class="toast" style="position: relative; top: 0; right: 0;" data-delay=5000>
        <div class="toast-header">
            <img src="/favicon/programmer.svg" class="rounded mr-2" alt="programmer">
            <strong class="mr-auto" id="toast-title"></strong>
            <small>Just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" id="toast-body">
        </div>
    </div>
</div>