<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
    <meta charset="utf-8">
    <title>NodeJS Chat App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body style="height: 100%;" class="bg-light">
    <!-- Partials. Load toast -->
    {% include "./partials/_toast.html" %}
    <div class="d-flex justify-content-center container-fluid" id="login"
        style="position: relative; top: 50%; transform: translateY(-50%);">
        <!-- Login form -->
        <!-- On submit, get /chat route page (check main.js) -->
        <form class="jumbotron py-4" action="/chat" method="GET" id="loginform">
            <h1 class="d-flex justify-content-center">Welcome !</h1>
            <p>Chat App - Write your pseudo and your room number</p>
            <div class="form-group">
                <label for="username"><h5>Username</h5></label>
                <input type="text" class="form-control" name="login" id="username" maxlength="20"
                    placeholder="JuJuDeFruit ..." required>
                <div class="alert alert-danger mt-1" role="alert" style="display:none">
                    Username already connected. Please choose an other username.
                </div>
            </div>
            <div class="form-group">
                <label for="room"><h5>Room number</h5></label>
                <input type="number" class="form-control" min="1" name="room" id="room" placeholder="1, 2 ..." required>
            </div>
            <input type="submit" class="form-control btn btn-primary" value="Submit">
            <!-- Hidden contains value if user already exists or not and cancel submition or not. -->
            <input id="preventDefault" value="true" hidden>
        </form>
    </div>
    <!-- Insert CDN and scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- We defined mounted point for scripts in main.js. Adding utils.js to fix require issues. -->
    <script src="utils.js"></script>
    <script src="app.js"></script>
</body>

</html>