<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <!-- Partials -->
    {% include "./partials/_toast.html" %}
    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
            <!-- Login and room send by object in swig render -->
            <h3 class="ml-2">{{login}} in room {{room}} :</h3>
            <div class="ml-2 mt-1" id="users">
                <!-- List of users -->
                <ul class="list-group" id="listusers">
                    <h5>Members online :</h5>
                </ul>
            </div>
            <!-- User log out. We choose a form to automatically call a route -->
            <form class="ml-2 mt-2" action="/" method="GET" id="logOut">
                <input type="submit" class="btn btn-danger" value="Log out" />
            </form>
        </div>

        <div style="flex: 1 1 auto" class="mx-4 mt-2">
            <!-- Messages are printed in this area -->
            <div id="messages" class="overflow-auto bg-light rounded" style="height: 400px; border: 1px solid black; margin-bottom: 2%;">
                <!-- Message template (hidden) -->
                <div class="p-2 message alert alert-primary rounded m-2" id="msgtpl" style="display:flex">
                    <div class="info" style="display: flex; margin-bottom: 1%;">
                        <div id="username"><strong></strong></div>
                        <div id="message" style="flex: 1 1 auto; word-break: break-word;"></div>
                        <div id="date"></div>
                    </div>
                </div>
            </div>
            <!-- Message form -->
            <form action="" id="form" class="d-flex mb-2">

                <input type="text" id="messageToSend" class="text" placeholder="Message ..." style="flex: 1 1 auto"
                    required />
                <input type="submit" id="send" value="Envoyer mon message" class="btn btn-info"
                    style="margin-left:1%" />

            </form>
        </div>
    </div>
    <!-- Insert CDN and scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <!-- We defined mounted point for scripts in main.js. Adding utils.js to fix require issues. -->
    <script src="utils.js"></script>
    <script type="" src="chat.js"></script>
</body>

</html>